<h1>Craigslist III</h1>
<% if @user %>
  <h2>Welcome <%= @user.name %></h2>
  <!-- add Your Posts and LOG OUT !-->
  <a href="/users/<%= @user.id %>">Your Items</a>
  <br/>
  <a href="/logout">Log Out</a>

<%else%>
  <a href="/login">Log In</a>
  <br/>
  <a href="/register">Create an account</a>
<%end%>

<h2>Create a Post</h2>
<%= flash[:error] %>
<form action="/" method="post">
  <label>Title:</label>
    <input type="text" name="title" placeholder="Title"><br/>
  <label>Price:</label>
    <input type="text" name="price" placeholder="Price"><br/>
    <textarea rows="10" col="100" name="description" placeholder="Description"></textarea>
    <br/>
    <input type="submit" value="Create Post">
</form>

<h2>Items For Sale</h2>
<ul>
<% @items.each do |item| %>
  <li>
    <a href="/posts/<%= item.id %>"><%= item.title %>  </a>
  </li>
<%end%>
</ul>