<h1>Your Items</h1>
<% @all_items.each do |item| %>
  <h2><%=item.title %></h2>
  <ul>
    <li><b>Price: </b><%=item.price %></li>
    <li><b>Description: </b><%=item.description %></li>
  </ul>
  <a href="/posts/<%= item.id %>/<%= item.edit_url %>">Edit Post</a>
  <br/>
<% end %>
<br/>
<a href='/'>Home</a>
