<head>
  <title><%= current_user.user_name %></title>
</head>

<div class="header">
  <h2>hey <%= current_user.user_name %><h2>
</div>
<br/>
<div class="new-listing">
  <form action="/new_listing" method="post">
    <input type="hidden" name="user_id" value="<%= @user_id %>">
    <input type="text" name="title" placeholder="item">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="price" placeholder="$">
    <input type="submit" value="list">
  </form>
</div>
<br/>
<div class="user-listings">
  your listings:
  <br/><br/>
  <% @user_items.each do |item| %>
  <%= "#{item.title} - #{item.description} - #{item.price}" %>
  <form action="/edit" method="post">
    <input type="hidden" name="item_id" value="<%=item.id%>">
    <input type="submit" value="edit">
  </form>
  <form action="/delete" method="post">
    <input type="hidden" name="item_id" value="<%=item.id%>">
    <input type="submit" value="delete">
  </form>
  <br/><br/>
<% end %>
</div>
<br/>
<div class="all-listings">
  all listings:
  <% @items.each do |item| %>
  <p><%= "#{item.title} - #{item.description} - #{item.price}" %></p>
  <% end %>
</div>
<div>
  <p><a href='/logout'>log out</a></p>
</div>