<a href='/'>Home</a>
<% if session[:username] %>
  | Logged in: <a href='/user/<%= session[:user_id] %>'><%= session[:username] %></a>
  <a href='/logout'> | Logout</a>
<p>
<% else %>
  <a href='/login'> | Login</a>
<% end %>
</p>

<h1>Robert's Craigslist Jr</h1>
<h3>Welcome Back, <%= @user.username %>!</h3>
<h5>Your items for sale | <a href='/item/new'>List an item</a></h5>
<% if @user %>
  <ul>
  <% @user.items.each do |item| %>

      <li><p><%= "$" + item.price %> -- <%= item.title %> | <a href='/item/<%= item.url %>'>view</a> | <a href="/item/edit/<%= item.url %>">edit</a> | <a href="/item/delete/<%= item.url %>">delete</a></p>

  <% end %>
  </ul>
<% else %>
  <h4>***No listings available***</h4>
<% end %>